
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins:wght@500&display=swap');

/* -----------
font-style and body
-------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 248, 248);
    
}
h1{
    font-size: 55px;
}
/* -------------
header
-------------------- */

header{
    margin-left: 110px;
    color:#9424f0;
    display: grid;
    
}








/* -----------------
container-1-styles
------------------ */

.container-1{
    display: flex;
    margin-top: 50px;
    width: 100%;
}
.first-div{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
}
.first-part {
    width: 50%;
}
.first-part h1{
    margin: auto;
    color: #9424f0;

}
.first-part p{
    padding-right: 50px;
}
.first-div img{
    width: 110%;

}
.for-all-button{
    display: inline-block;
    color: antiquewhite;
    text-decoration: none;
    margin-top: 10px;
    padding: 15px 45px 15px 45px;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#fd297a,  #9424F0);
    }
    .for-all-button .far{
        padding-right: 5px;
    }
    

    

/*-------------------
container-1 style end
 --------------------*/





 /*------------------------------
 product section name style start 
  -----------------------------*/

.product-section-name{
    display: flex;
    font-size: 24px;
    color: #9424F0;
    padding-top: 50px;
    margin: auto;
    width: 100%;
    justify-content: center;
}

/*---------------------------
product section name style end 
 ----------------------------*/



/*--------------------- 
cotainer-2 style start
----------------------*/

.container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    Width:1047px;
    Height:1662px;
}

.product-list{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 15px;
    padding: 15px 20px 15px 20px ;
    filter: drop-shadow(0 0 0.50px gray);
    
}
.product-name{
    color: #9424F0;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
}
.product-pricing{
    color: black;
    font-size: 23px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
   
}

.fa-star{
    color: orange;
}
.product-des{
    margin: auto;
    margin-top: 12px;
}

/*-------------------
container-2 style end 
 --------------------*/


 /* ---------------------------------------
 one-time-button or container-4 style start
  ----------------------------------------*/

  .container-4{
      width: 90%;
      display: flex;
      justify-content: right;
  }

  #one-time-button{
    display: flex;
    color: antiquewhite;
    text-decoration: none;
    margin: auto;
    margin-right: 20px;
    padding: 15px 45px 15px 45px;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#fd297a,  #9424F0);
  }

  #one-time-button .far{
      padding-top: 3px;
      padding-right: 5px;
  }


   /* -----------------------------------
 one-time-button or container4 style end
  -------------------------------------*/



  /*------------------------ 
  container-5 style start 
  --------------------------*/

  .container-5{
      display: flex;
      justify-content: center;

  }

  .optional-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    justify-content: center;
  }

  .optional-section-image{
      margin-top: 20px;
      margin-bottom: 20px;
  }

 .optional-section h1{
      font-size: 40px;
      color: #9424F0;
  }
  .optional-section-detail{
      width: 50%;
      margin-left: 100px;
  }


  /*--------------------- 
  container-5 style end 
  ----------------------*/



  /*--------------------------
   footer-section setyle start 
   -------------------------*/
    .footer-section{
        display: grid;
        background-image: linear-gradient(45deg, #DB0B5F, #6F00ED);
        color: antiquewhite;
        margin: auto;
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
        text-align: center;
        

    }

    .social-icons a .fab{
        color: antiquewhite;
        padding: 8px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.315);
        border-radius: 25px;
        text-decoration: none;
        margin-right: 10px;
    }
    .social-icons a{
        text-decoration: none;
    }


    /*------------------ 
media queries 
-------------------*/

/*-------------------
 for mobile device 
 -------------------*/

 @media only screen and (max-width:688px) {
    header{
        margin-left: 150px;
        display: grid;
        
    }
    
    
    
    .first-div{
        
      display: inline-block;
      width: 100%;
      font-size: 14px;
        justify-content: center;
     }
     .first-div img{
         width: 100%;
         margin: auto;
     }
     .first-part{
         width: 100%;
         
         text-align: center;
         margin: auto;
         padding: 0px;
     }

    .first-div h1{
        font-size: 35px;
        text-align: center;
    }


    .product-section-name{
        font-size: 20px;
    }
    .container-2{
        width: 50%;
        height: 100%;
        margin: auto;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .container-4{
        justify-content: center;
        margin: auto;
        margin-left: 30px;
    }

    .optional-section{
        display: block;
        width: 100%;
        text-align: center;
        
    }
    .optional-section img{
        width: 100%;
    }
    .optional-section-detail{
        width:100%;
        margin: auto;
    }
    .optional-section-detail h1{
        font-size: 30px;
    }
 }



 /*-----------------
  for tab 
  ------------------*/

@media only screen and (min-width: 689px) and (max-width: 992px) {

    header{
        width: 100%;
        margin: auto;
        margin-left: 30px;
        
    }

    .first-part{
        width: 100%;
        text-align: left;
        margin-left: 30px;
    }


    .first-div img{
        width: 100%;
        margin: auto;
    }
    .first-div h1{
        font-size: 35px;
     
    }


    .container-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 30px;
        Width:40%;
        height: 100%;
    }

    .container-4{
        justify-content: center;
        margin: auto;
        margin-left: 30px;
    }


    .optional-section{
        display: block;
        width: 100%;
    }
    .optional-section img{
        width: 80%;
        margin-left: 30px;
    }
    .optional-section-detail{
        width:90%;
        margin: auto;
    }
    .optional-section-detail h1{
        font-size: 30px;
    }



    
}